@import "../../../index.scss";

.delete_message_modal,
.delete_comment_modal {
    text-align: center;
	
    .modal-header {
		border-bottom: 0 none;
	}

    .modal-body {
		padding-block: 0;
		padding-inline: 50px;
	}

	p {
		line-height: normal;
	}

	form {
		padding-bottom: 50px;

		h4 {
			font-weight: 900;
			margin-bottom: 40px;
		}

		.buttons_container {
			margin-top: 40px;
			padding-left: 40px;
			text-align: center;

			.success_button {
				margin-left: 50px;
				padding: 12px 40px;
			}
		}
	}
}
